{% extends 'good_food/base.html' %}
{% load static %}
{% block comm %}

    <header class="header">
        <div class="wrap">
          <div class="container">
            <a href="{% url 'projects' %}" class="header__logo">
              <img src="{% static 'images/goodfood.jpg' %}" alt="DevSearch Logo">
            </a>
          </div>
        </div>
    </header>
    {% for one_post in posts %}
    <div class="commentType">
        <div class="wrapnew">
            <div class="containerType">
                <h1>{{ one_post.title }}</h1>
                <p>{{ one_post.body }}</p>
            </div>
        </div>
    </div>
    <div class="section--gradient">
        <div class="wrap">
            <div class="center">
                <h1> Отзывы о доставке готовой еды</h1>
                {% with comments.count as total_comments %}
                    <h2>
                        {{ total_comments }} comment{{ total_comments|pluralize }}
                    </h2>
                {% endwith %}
                {% for comment in comments %}
                  <div class="comment">
                      <div class="review-item" id="bx_651765591_363235"></div>
                      <div class="review-item__name">{{ comment.name }}</div>
                      <div class="review-item__info">{{ comment.body|linebreaks }}</div>
                      <div class="review-item__footer"></div>
                      <div class="review-item__date">{{ comment.created|date:"d E Y H:i" }}</div>
                  </div>
                {% empty %}
                  <p>Пока нет комментариев.</p>
                {% endfor %}
                {% if new_comment %}
                  <h2>Ваш комментарий был добавлен.</h2>
                {% else %}
                  <h2>Добавить новый комментарий</h2>
                  <form action="." method="post">
                    {{ comment_form.as_p }}
                    {% csrf_token %}
                    <p><input class="btn btn&#45;&#45;sub btn&#45;&#45;lg" type="submit" value="Добавить"></p>
                  </form>
                {% endif %}
                {% include 'good_food/pagination.html' %}
            </div>
        </div>
    </div>
    {% endfor %}
{% endblock %}
