@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
      margin: 0;
      padding: 0;
      font-family: 'Roboto', sans-serif;
}

.wrap{
      box-sizing: border-box;
      max-width: 1110px;
      padding-left: 55px;
      padding-right: 55px;
      min-width: 414px;
      margin: 0 auto;
}

div {
    display: block;
}

form {
    display: block;
    margin-top: 0em;
}

/*========== navbar ==========*/

.header {
      width: 100%;
      position: fixed;
      background-color: white;
      z-index: 111;
      padding: 0.5rem 0;
      -webkit-box-shadow: 2px 10px 36px -7px rgba(0,0,0,0.75);
      -moz-box-shadow: 2px 10px 36px -7px rgba(0,0,0,0.75);
      box-shadow: 2px 10px 36px -7px rgba(0,0,0,0.75);
}

.wrap > .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
}

.header__nav > ul {
      display: inline-flex;
      align-items: center;
      list-style: none;
      gap: 2.0rem;
}

.header__menu {
    color: black;
    font-weight:bold;
}

.login {
      display: flex;
      align-items: center;
      list-style: none;
      gap: 0.3rem;
      color: black;
      font-weight:bold;
}

a:active, /* активная/посещенная ссылка */
a:hover,  /* при наведении */
a {
    text-decoration: none;
    color: black;
    font-weight:bold;
}

/*========== navbar_back ==========*/

.icon_back {
    width: 60px;
    height: 60px;
    min-width: 60px;
    margin-right: 10px;
}

/*========== projects ==========*/

.back {
    background-image: url('../images/back2.jpg');
    background-size: cover;
    background-position: center center;
    padding: 200px 0 160px;
}

.heading {
    font-family: 'Kanit', sans-serif;
    font-size: 65px;
    font-weight: bold;
    line-height: 1.1em;
}
.heading2 {
    font-family: 'Kanit', sans-serif;
    font-size: 22px;
    line-height: 1.0em;
}

.subbtn {
    padding-left: 100px;
    padding-top: 20px;
 }

.btn {
    color: #fff;
    background-color: #1e988f;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    padding: 0.35rem 1.425rem;
    height: 40px;
    border-color: #1e988f;
    display: inline-block;
    font-weight: 500;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.625rem;
    font-family: inherit;
    box-sizing: border-box;
}

.center {
    padding: 80px 0px 0 0px;
    display: block;
    box-sizing: inherit;
    text-align: center;
}

.type {
    margin-bottom: 48px;
    text-align: center;
    font-size: 32px;
}

.boxing {
    display: grid;
    grid-gap: 28px;
    grid-template-columns: repeat(4,1fr);
}

.advant {
    border: 1px solid #dcdfe8;
    padding: 28px 20px 20px;
    transition: all .4s;
    display: flex;
    -webkit-flex-flow: column;
    -ms-flex-flow: column;
    flex-flow: column;
    background: #fff;
    border-radius: 12px;
    letter-spacing: .01em;
    font-family: sans-serif;
    margin-right: 10px;
    text-align: center;
}

.icon_text {
    text-align: center;
}

.icon {
    width: 80px;
    height: 80px;
    min-width: 80px;
}

.good {
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 20px;
}

.about_us {
     display: flex;
}

.eat_image {
    margin-right: 25px;
}

.about_image {
    width: 550px;
    height: 600px;
    float:left
}

.eat_text{
    text-align: justify;
}

.list {
    padding: 0px;
    text-align: start;
}

.map {
    background-image: url('../images/map.png');
    background-size: cover;
    background-position: center center;
    padding: 0px 0 0px;
}

.map-img {
    width: 100%;
    vertical-align: middle;
    border: 0;
}

.map-bull-box {
    position: absolute;
    bottom: 20px;
    left: 0;
    text-align: center;
    z-index: 4;
    box-sizing: border-box;
    font-family: "PT Sans",sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2;
    display: block;
    padding-left: 350px;
    padding-right: 350px;
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    display: block;
    width: 100%;
}

.map-bull-item {
    display: inline-block;
    vertical-align: top;
    width: 30%;
    margin: 0 1%;
    text-align: left;
    background: #fff;
    -webkit-box-shadow: 0 4px 6px rgba(0,0,0,.15);
    box-shadow: 0 4px 6px rgba(0,0,0,.15);
    padding: 38px 25px;
    box-sizing: border-box;
    border-radius: 25px;
}

.map-bull-title {
    font-size: 1.5rem;
    font-weight: 400;
    color: #393C43;
    height: 110px;
    text-align: center;
}

.wrapper_map_bull_text {
    min-height: 120px;
}

.footer {
    display: flex;
    margin-top: 60px;
    justify-content: center;
    font-size: 1.5rem;
    color: #393C43;
    text-align: center;
}

.col-xs-12 {
    width: 100%;
}

.footer-ps {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    font-size: .875rem;
    color: #9B9486;
}

/*========== calculator ==========*/

.back_two {
    margin-top: 120px;
    background-image: url('../images/calculator2.jpg');
    background-size: cover;
    background-position: center center;
    padding: 100px 0 200px;
}

.text {
    padding: 0px;
    margin: 35px;
}

.calc-form{
    display: block;
}

.rows, .col-block_one {
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
}

.form-group {
    margin-bottom: 30px;
    padding-right: 15px;
    padding-left: 15px;
}

.fz20 {
    cursor: pointer;
    font-size: 1.25rem;
    display: inline-block;
    margin-bottom: 16px;
}

.custom-select {
    height: 2.875rem;
    font-size: 1.25rem;
    display: inline-block;
    width: 85%;
    padding: 0rem 0 0.6rem 0.1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #000;
    vertical-align: middle;
    background: #fff url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='4' height='5' viewBox='0 0 4 5'%3e%3cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e) right 0.75rem center/8px 10px no-repeat;
    border: 1px solid #1e988f;
    border-radius: 0.25rem;
    word-wrap: normal;
    font-family: inherit;
}

.form-control {
    height: 2.875rem;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    display: block;
    width: 100%;
    font-weight: 400;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    margin: 0;
    font-family: inherit;
    padding: 0 1.5rem 0 0.8rem;
    transition: border-color .15s
}

.calc-form__info {
    position: relative;
    width: 100%;
    display: block;
    margin: 0 auto;
    text-align: center!important;
}

/*========= menu ==========*/

.program-group__el-val {
    display: flex;
    flex-wrap: wrap;
    white-space: nowrap;
    grid-column-gap: 5px;
    font-family: 'Montserrat', sans-serif;
    font-size: 23px;
    color: black;
    font-weight: bold;
    padding: 8.5px 10px 4.5px 10px;
}

.program-group-wrap {
    border-bottom: 1px solid #dcdfe8;
    margin-bottom: 32px;
    margin-top: 32px;
    }

.program-group {
    display: flex;
    left: -9999px;
    position: absolute;
}

.program-group.active {
    visibility: visible;
    opacity: 1;
    left: initial;
    position: relative;
}

.program-group__el.active {
    border-bottom: 3px solid #7eca1d;
}
.program-group__el {
    min-width: 180px;
    padding: 5px;
    white-space: nowrap;
    border-bottom: 3px solid transparent;
    transition: all .4s;
    cursor: pointer;
}

.font {
    display: flex;
}

.font, .icon-row {
    display: -webkit-flex;
    display: -ms-flexbox;
}

.weekday {
    margin-bottom: 40px;
}

.weekday_flex {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 8px;
}

.f-column.active_two {
    background: #7eca1d;
    color: #fff;
}

.f-column {
    flex-direction: column;
    cursor: pointer;
    align-items: center;
    -webkit-align-items: center;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 8px;
    border-width: 1px;
    border-style: solid;
    border-color: #dcdfe8;
}

.review-item__name{
    font-weight: 700;
}

.type--w700 {
    margin-bottom: 5px;
    font-weight: 700;
}

.eat {
    background-image: url('../images/fon.jpg');
    background-size: cover;
    background-position: center center;
    padding: 10px 0 50px;
    margin-bottom: 130px;
}

.text_result{
    margin-bottom: 30px;
    font-size: 22px;
    text-align: center;
}

.eat_flex {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: stretch;
}

.row {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: stretch;
    display: -ms-flexbox;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: 120px;
    margin-left: 120px;
}

.fz90 {
    font-size: 1.25rem;
    display: inline-block;
    margin-bottom: 16px;
}

.custom-select2 {
    font-size: 1.25rem;
    display: inline-block;
    padding: 0rem 0 0.6rem 0.1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #000;
    vertical-align: middle;
    background: #fff url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='4' height='5' viewBox='0 0 4 5'%3e%3cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e) right 0.75rem center/8px 10px no-repeat;
    border: 1px solid #1e988f;
    border-radius: 0.25rem;
    word-wrap: normal;
    font-family: inherit;
}

.col-sm-5 {
    padding-top: 21px;
    margin-left: 35px;
}

.program-total__price {
    text-align: center;
}

.eatnone {
    display: none;
}

.eatnone2 {
    display: none;
}

/*========= eat  ==========*/

.food_collection {
    border: 1px solid #dcdfe8;
    transition: all .4s;
    display: flex;
    -webkit-flex-flow: column;
    -ms-flex-flow: column;
    flex-flow: column;
    background: #fff;
    border-radius: 12px;
    letter-spacing: .01em;
    font-family: sans-serif;
    margin-right: 10px;
    text-align: center;
    flex-wrap: wrap;
    width: 300px;
    margin-bottom: 15px;
}

.productitem-title{
    margin: 12px;
    font-weight: 700!important;
    text-align: center!important;
    font-size: 1.25rem;
}

.icon2 {
    width: 280px;
    height: 180px;
}

/*========= neworder  ==========*/

.class_form {
  text-align: center;
  padding-bottom: 7%;
}

.text-3 {
  color: #155724;
  font-size: 2em;
  text-align: center;
  padding-top: 240px;
  margin-top: 0;
}

.justify-content-center {
    justify-content: center!important;
}

.col-sm-2 {
    padding-bottom: 10px;
    font-weight:bold;
    font-size: 22px;
}

/*========= thanks page  ==========*/

.thank{
	display: flex;
	justify-content: center;
	align-items: center;
	height: calc(100vh - 162px);
}

/*========= comments  ==========*/

.commentType {
    background-image: url('../images/comment.jpg');
    background-size: cover;
    background-position: center center;
    padding: 200px 0 160px;
}

.wrapnew{
    box-sizing: border-box;
    max-width: 1110px;
    padding-left: 200px;
    padding-right: 200px;
    min-width: 414px;
    margin: 0 auto;
    text-align: center;
}

.containerType{
    border-radius: 12px;
    overflow: hidden;
    background: #d6f5f4;
    padding: 25px;
    text-align: center;
}

.section--gradient {
    background: linear-gradient(98.95deg,#e3eeff 0,#e4f6e4 52.6%,#ffeee4 100%);
    padding:10px;
}

.comment:not(:last-child) {
  margin-bottom: 3rem;
}

.review-item {
    margin-bottom: 48px;
}

.review-item__name {
    margin-bottom: 16px;
    font-size: 20px;
    font-weight: 700;
    box-sizing: inherit;
}
.review-item__info {
    margin-bottom: 16px;
    box-sizing: inherit;
    text-align: justify;;
}
.review-item__footer {
    padding-top: 16px;
}

.reg_coomments {
    color: #1e988f;
}

.containerType_bootom{
    border-radius: 12px;
    overflow: hidden;
    background: #fff;
    padding: 25px;
    text-align: center;
}


/*========= login/register  ==========*/

.auth {
  width: 100%;
  position: relative;
  z-index: 1;
  background: transparent;
  height: 99vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth::after {
  z-index: -1;
  opacity: 0.1;
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: url(../images/pattern.jpg);
}

.auth > .card {
  padding: 3rem 4rem;
  width: 95%;
  max-width: 65rem;
}

@media screen and (min-width: 650px) {
  .auth > .card {
    padding: 1rem 5rem;
    width: 95%;
    max-width: 65rem;
  }
}

.auth__header h3 {
  color: var(--color-sub);
  font-weight: 700;
  margin-top: 1rem;
}

.auth__header p {
  font-weight: 400;
  font-size: 1.8rem;
  margin-bottom: 2rem;
}

.auth__form {
  margin: 3rem 0;
}

.auth .auth__form label,
.auth .auth__alternative p {
  font-size: 1.4rem;
  font-weight: 500;
  color: var(--color-sub-light);
}

.auth .auth__actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2.5rem 0;
}
.auth .auth__actions a {
  text-decoration: underline;
}

.auth .auth__alternative a {
  font-size: 2rem;
  font-weight: 500;
}

#map {
    position: relative;
    height: 845px;
    padding: 0;
    display: block;
}

.map {
    width: 100%;
    height: 845px;
    overflow-x: hidden;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    overflow-y: hidden;
}

.map:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background: -webkit-linear-gradient(bottom,rgba(255,255,255,.96) 3%,
    rgba(255,255,255,.3) 88%,rgba(255,255,255,.96) 99%);
}

/*========= pagination  ==========*/

.pagination{
    margin-bottom: 35px;
}

 .pointer_num{
    font-size: 25px;
    font-weight: bold;
 }
