@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.wrap{
  box-sizing: border-box;
  max-width: 1110px;
  padding-left: 55px;
  padding-right: 55px;
  min-width: 414px;
  margin: 0 auto;
}

.header {
  width: 100%;
  position: fixed;
  background-color: white;
  z-index: 111;
  padding: 0.5rem 0;
  -webkit-box-shadow: 2px 10px 36px -7px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 10px 36px -7px rgba(0,0,0,0.75);
  box-shadow: 2px 10px 36px -7px rgba(0,0,0,0.75);
}

.wrap > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__nav > ul {
  display: inline-flex;
  align-items: center;
  list-style: none;
  gap: 2.0rem;
}

.login {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 0.3rem;
  color: black;
  font-weight:bold;
}

a:active, /* активная/посещенная ссылка */
a:hover,  /* при наведении */
a {
  text-decoration: none;
  color: black;
  font-weight:bold;
}

.header__menu {
    color: black;
    font-weight:bold;
}

.back {
  background-image: url('../images/back1.jpg');
  background-size: cover;
  background-position: center center;
  padding: 200px 0 160px;
}
.heading {
    font-family: 'Kanit', sans-serif;
    font-size: 65px;
    font-weight: bold;
    line-height: 1.1em;
}
.heading2 {
    font-family: 'Kanit', sans-serif;
    font-size: 22px;
    line-height: 1.0em;
}
.btn {
    color: #1b8d0c;
    border: 2px solid #1b8d0c;
    border-radius: 50px;
    padding: 12px 20px;
    background-color: transparent;
    overflow: hidden;
    position: relative;
    font-size: inherit;
    line-height: inherit;
    cursor: pointer;
    font-weight: bold;
 }

 .subbtn {
  padding-left: 100px;
  padding-top: 20px;
 }
 .advant {
    border: 1px solid #dcdfe8;
    padding: 28px 20px 20px;
    transition: all .4s;
    display: flex;
    -webkit-flex-flow: column;
    -ms-flex-flow: column;
    flex-flow: column;
    background: #fff;
    border-radius: 12px;
    letter-spacing: .01em;
    font-family: sans-serif;
    margin-right: 10px;
    text-align: center;
 }
 .center {
     padding: 80px 0px 0 0px;
     display: block;
     box-sizing: inherit;
 }
 .type {
     margin-bottom: 48px;
     text-align: center;
     font-size: 32px;
 }
 .icon {
    width: 80px;
    height: 80px;
    min-width: 80px;
    }
 .icon_text {
    text-align: center;
 }
 .boxing {
    display: grid;
    grid-gap: 28px;
    grid-template-columns: repeat(4,1fr);
 }
.about_us {
     display: flex;
}
.about_image {
    width: 550px;
    height: 600px;
    float:left
    }
.eat_text{
    text-align: justify;
}
.good {
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 20px;
}
.list {
    padding: 0px;
    text-align: start;
}
.eat_image {
    margin-right: 25px;
}
.back_two {
    margin-top: 120px;
    background-image: url('../images/calculator2.jpg');
    background-size: cover;
    background-position: center center;
    padding: 100px 0 200px;
}
.text {
    padding: 0px;
    margin: 35px;
}
.calc-form{
    display: block;
}
.rows, .col-block_one {
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;

}
.form-group {
    margin-bottom: 30px;
    padding-right: 15px;
    padding-left: 15px;
}
.fz20 {
    cursor: pointer;
    font-size: 1.25rem;
    display: inline-block;
    margin-bottom: 16px;
}
.custom-select {
    height: 2.875rem;
    font-size: 1.25rem;
    display: inline-block;
    width: 85%;
    padding: 0rem 0 0.6rem 0.1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #000;
    vertical-align: middle;
    background: #fff url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='4' height='5' viewBox='0 0 4 5'%3e%3cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e) right 0.75rem center/8px 10px no-repeat;
    border: 1px solid #1e988f;
    border-radius: 0.25rem;
    word-wrap: normal;
    font-family: inherit;
}
.form-control {
    height: 2.875rem;
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: 0.3rem;
    display: block;
    width: 100%;
    font-weight: 400;
    color: #000;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #1e988f;
    margin: 0;
    font-family: inherit;
    padding: 0 1.5rem 0 0.8rem;
}
form {
    display: block;
    margin-top: 0em;
}
.calc-form__info {
    position: relative;
    width: 100%;
    display: block;
    margin: 0 auto;
    text-align: center!important;
}
.btn {
    cursor: pointer;
    padding: 0.35rem 1.425rem;
    height: 40px;
    color: #fff;
    background-color: #1e988f;
    border-color: #1e988f;
    display: inline-block;
    font-weight: 500;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.625rem;
    font-family: inherit;
    box-sizing: border-box;
}
.program-group-wrap {
    border-bottom: 1px solid #dcdfe8;
    margin-bottom: 32px;
    margin-top: 32px;
    }
div {
    display: block;
}
.program-group.active {
    visibility: visible;
    opacity: 1;
    left: initial;
    position: relative;
}
.program-group__el-val {
    display: flex;
    flex-wrap: wrap;
    white-space: nowrap;
    grid-column-gap: 5px;
    font-family: 'Montserrat', sans-serif;
    font-size: 23px;
    color: black;
    font-weight: bold;
    padding: 8.5px 10px 4.5px 10px;
}
.program-group {
    display: flex;
    left: -9999px;
    position: absolute;
}
.program-group__el.active {
    border-bottom: 3px solid #7eca1d;
}
.program-group__el {
    min-width: 180px;
    padding: 5px;
    white-space: nowrap;
    border-bottom: 3px solid transparent;
    transition: all .4s;
    cursor: pointer;
}
.f {
    display: flex;
}
.f, .icon-row {
    display: -webkit-flex;
    display: -ms-flexbox;
}
.mb-40 {
    margin-bottom: 40px;
}
.g-afc {
    grid-auto-flow: column;
}
.g {
    display: grid;
}
.g-gap-8 {
    grid-gap: 8px;
}
.schedule-list__el.active_two {
    background: #7eca1d;
    color: #fff;
}
.bor {
    border-width: 1px;
}
.br-8 {
    border-radius: 8px;
}
.bor, .bor-b, .bor-t {
    border-style: solid;
}
.bor--border {
    border-color: #dcdfe8;
}
.f-column {
    flex-direction: column;
    cursor: pointer;
}
.f-aic {
    align-items: center;
}
.f-aic, .f-mid {
    -webkit-align-items: center;
}
.psh-12 {
    padding-left: 12px;
    padding-right: 12px;
}
.psv-16 {
    padding-top: 16px;
    padding-bottom: 16px;
}
.blog-el__title, .coach-descr__title, .coach-descr__val, .coach-history__title, .invite-title, .review-item__name, .type--w700 {
    font-weight: 700;
}
.mb-5 {
    margin-bottom: 5px;
}
.blog-el-footer, .drop-menu-card__text, .drop-menu__el-title, .dropdown-title, .invite-msg span, .program-coast__title, .program-consist__el-type, .program-el__head, .program-el__text, .rating--msg, .ration__info, .review-item__footer, .type--sm {
    font-size: 12px;
}

.eat {
    background-image: url('../images/fon.jpg');
    background-size: cover;
    background-position: center center;
    padding: 10px 0 50px;
    margin-bottom: 130px;
}
 .icon2 {
    width: 280px;
    height: 180px;
    }

 .food_collection {
    border: 1px solid #dcdfe8;
    transition: all .4s;
    display: flex;
    -webkit-flex-flow: column;
    -ms-flex-flow: column;
    flex-flow: column;
    background: #fff;
    border-radius: 12px;
    letter-spacing: .01em;
    font-family: sans-serif;
    margin-right: 10px;
    text-align: center;
    flex-wrap: wrap;
    width: 300px;
    margin-bottom: 15px;
 }
 .eat_flex {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: stretch;
 }
 .text_result{
    margin-bottom: 30px;
    font-size: 22px;
    text-align: center;
 }
 .productitem-title{
    margin: 12px;
    font-weight: 700!important;
    text-align: center!important;
    font-size: 1.25rem;
 }
 .row {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: stretch;
 }
 .col-sm-5 {
    padding-top: 21px;
    margin-left: 35px;
 }
 .program-total__price {
    text-align: center;
 }
 .custom-select2 {
    font-size: 1.25rem;
    display: inline-block;
    padding: 0rem 0 0.6rem 0.1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #000;
    vertical-align: middle;
    background: #fff url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='4' height='5' viewBox='0 0 4 5'%3e%3cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e) right 0.75rem center/8px 10px no-repeat;
    border: 1px solid #1e988f;
    border-radius: 0.25rem;
    word-wrap: normal;
    font-family: inherit;
}
.eatnone {
    display: none;
}
.eatnone2 {
    display: none;
}
.fz90 {
    font-size: 1.25rem;
    display: inline-block;
    margin-bottom: 16px;
}
.map {
    background-image: url('../images/map.png');
    background-size: cover;
    background-position: center center;
    padding: 0px 0 0px;
}
.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    display: block;
}
.map-bull-item {
    display: inline-block;
    vertical-align: top;
    width: 30%;
    margin: 0 1%;
    text-align: left;
    background: #fff;
    -webkit-box-shadow: 0 4px 6px rgba(0,0,0,.15);
    box-shadow: 0 4px 6px rgba(0,0,0,.15);
    padding: 38px 25px;
    box-sizing: border-box;
    border-radius: 25px;
}
.map-bull-title {
    font-size: 1.5rem;
    font-weight: 400;
    color: #393C43;
    height: 110px;
    text-align: center;
}
#map {
    position: relative;
    height: 845px;
    padding: 0;
    display: block;
}
.map {
    width: 100%;
    height: 845px;
    overflow-x: hidden;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    overflow-y: hidden;
}
.map-img {
    width: 100%;
    vertical-align: middle;
    border: 0;
}
.wrapper_map_bull_text {
    min-height: 120px;
}
.map:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background: -webkit-linear-gradient(bottom,rgba(255,255,255,.96) 3%,
    rgba(255,255,255,.3) 88%,rgba(255,255,255,.96) 99%);
}
.map-bull-box {
    position: absolute;
    bottom: 20px;
    left: 0;
    text-align: center;
    z-index: 4;
    box-sizing: border-box;
    font-family: "PT Sans",sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2;
    display: block;
    padding-left: 350px;
    padding-right: 350px;
}
.footer-ps {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    font-size: .875rem;
    color: #9B9486;
}

.col-xs-12 {
    width: 100%;
}
.footer {
    display: flex;
    margin-top: 60px;
    justify-content: center;
    font-size: 1.5rem;
    color: #393C43;
    text-align: center;
}
.telebot_order {
    padding-top: 300px;
}
.text-3 {
  color: #155724;
  font-size: 2em;
  text-align: center;
  padding-top: 240px;
  margin-top: 0;
}

.product_card {
	margin: 10px;
}

.table_one {
	font-size: 1.4em;
}

.class_form {
  text-align: center;
  padding-bottom: 7%;
}
.logo-bottom {
  margin: 0 0 5px;
}
.thank{
	display: flex;
	justify-content: center;
	align-items: center;
	height: calc(100vh - 162px);
}
/*разде*/
.container{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.justify-content-center {
    justify-content: center!important;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: 120px;
    margin-left: 120px;
}
.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color .15s
 }
 .col-sm-2 {
    padding-bottom: 10px;
    font-weight:bold;
    font-size: 22px;
 }