<div  id="programm" class="back_two">
  <div class="wrap">
    <h1 class="good text" id="calculator_text">Выберите свою программу питания:</h1>
    <div class="calc-form">
      <div>
        <form action="{% url 'projects' %}" id="calcform" name="calcform" method="POST">
          {% csrf_token %}
          <div class="rows">
            <div class="col-block_one">
              <div>
                <div class="form-group">
                  <label class="fz20" for="calc_gender">Ваш пол</label>
                  <select name="calc_gender" id="calc_gender" class="custom-select" autocomplete="off">
                    <option value="1">Женский</option>
                    <option value="2">Мужской</option>
                  </select>
                </div>
                <div class="form-group">
                  <label class="fz20" for="calc_goal">Ваша цель</label>
                  <select name="calc_goal" id="calc_goal" class="custom-select" autocomplete="off">
                    <option value="-200">Похудение</option>
                    <option value="-200">Сушка</option>
                    <option value="0">Поддержание формы</option>
                    <option value="200">Набор массы</option>
                  </select>
                </div>
                <div class="form-group">
                  <label class="fz20" for="calc_act">Активность</label>
                  <select name="calc_act" id="calc_act" class="custom-select" autocomplete="off">
                    <option value="1.2">Cидячий образ жизни</option>
                    <option value="1.375">Незначительная активность</option>
                    <option value="1.55">Умеренные нагрузки 3-5 дней/нед.</option>
                    <option value="1.725">Активный образ жизни</option>
                    <option value="1.9">Профессиональный спортсмен</option>
                  </select>
                </div>
              </div>
              <div>
                <div class="form-group">
                  <label class="fz20" for="calc_age">Возраст</label>
                  <input type="text" name="calc_age" id="calc_age" class="form-control" required="required" pattern="[0-9.]+">
                </div>
                <div class="form-group">
                  <label class="fz20" for="calc_height">Рост</label>
                  <input type="text" name="calc_height" id="calc_height" class="form-control" required="required" pattern="[0-9.]+">
                </div>
                <div class="form-group mb-0">
                  <label class="fz20" for="calc_weight">Вес</label>
                  <input type="text" name="calc_weight" id="calc_weight" class="form-control" required="required" pattern="[0-9.]+">
                </div>
              </div>
            </div>
            <div>
              <div class="calc-form__info">
                <button class="btn" type="submit" formaction="{% url 'projects' %}#result">Рассчитать</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>