<div class="foodflex monday">
    {% if lightes.week == "Понедельник" %}
    <div class="food_collection">
        <h5 class="productitem-title">{{ lightes.description }}</h5>
        <p><img class="icon2" src="{{ lightes.icon_image.url }}"></p>
        <p><b>{{ lightes.title }}</b></p>
    </div>
    {% endif %}
</div>
<div class="foodflex tuesday eatnone">
    {% if lightes.week == "Вторник" %}
    <div class="food_collection">
        <h5 class="productitem-title">{{ lightes.description }}</h5>
        <p><img class="icon2" src="{{ lightes.icon_image.url }}"></p>
        <p><b>{{ lightes.title }}</b></p>
    </div>
    {% endif %}
</div>
<div class="foodflex wednesday eatnone">
    {% if lightes.week == "Среда" %}
    <div class="food_collection">
        <h5 class="productitem-title">{{ lightes.description }}</h5>
        <p><img class="icon2" src="{{ lightes.icon_image.url }}"></p>
        <p><b>{{ lightes.title }}</b></p>
    </div>
    {% endif %}
</div>
<div class="foodflex thursday eatnone">
    {% if lightes.week == "Четверг" %}
    <div class="food_collection">
        <h5 class="productitem-title">{{ lightes.description }}</h5>
        <p><img class="icon2" src="{{ lightes.icon_image.url }}"></p>
        <p><b>{{ lightes.title }}</b></p>
    </div>
    {% endif %}
</div>
<div class="foodflex friday eatnone">
    {% if lightes.week == "Пятница" %}
    <div class="food_collection">
        <h5 class="productitem-title">{{ lightes.description }}</h5>
        <p><img class="icon2" src="{{ lightes.icon_image.url }}"></p>
        <p><b>{{ lightes.title }}</b></p>
    </div>
    {% endif %}
</div>
<div class="foodflex saturday eatnone">
    {% if lightes.week == "Суббота" %}
    <div class="food_collection">
        <h5 class="productitem-title">{{ lightes.description }}</h5>
        <p><img class="icon2" src="{{ lightes.icon_image.url }}"></p>
        <p><b>{{ lightes.title }}</b></p>
    </div>
    {% endif %}
</div>
<div class="foodflex sunday eatnone">
    {% if lightes.week == "Воскресенье" %}
    <div class="food_collection">
        <h5 class="productitem-title">{{ lightes.description }}</h5>
        <p><img class="icon2" src="{{ lightes.icon_image.url }}"></p>
        <p><b>{{ lightes.title }}</b></p>
    </div>
    {% endif %}
</div>