<div class="wrap">
    <div class="program-group-wrap" id="result">
        <div>
            <div class="program-group active">
                <div onclick="light()" class="program-group__el active">
                    <div class="program-group__el-val">1100 - 1500 Ккал</div>
                </div>
                <div onclick="normal()" class="program-group__el">
                    <div class="program-group__el-val">1500 - 2000 Ккал</div>
                </div>
                <div onclick="strong()" class="program-group__el">
                    <div class="program-group__el-val">2000 - 2500 Ккал</div>
                </div>
                <div onclick="superstrong()" class="program-group__el">
                    <div class="program-group__el-val">2500 - 3200 Ккал</div>
                </div>
                <div onclick="super1()" class="program-group__el">
                    <div class="program-group__el-val">3200 - 3600 Ккал</div>
                </div>
            </div>
        </div>
    </div>
    <div class="font weekday">
        <div class="weekday_flex">
            <div onclick="monday()" class="font f-column active_two">
                <div class="type--w700">Пн</div>
            </div>
            <div onclick="tuesday()" class="font f-column">
                <div class="type--w700">Вт</div>
            </div>
            <div onclick="wednesday()" class="font f-column">
                <div class="type--w700">Ср</div>
            </div>
            <div onclick="thursday()" class="font f-column">
                <div class="type--w700">Чт</div>
            </div>
            <div onclick="friday()" class="font f-column">
                <div class="type--w700">Пт</div>
            </div>
            <div onclick="saturday()" class="font f-column">
                <div class="type--w700">Сб</div>
            </div>
            <div onclick="sunday()" class="font f-column">
                <div class="type--w700">Вс</div>
            </div>
        </div>
    </div>
</div>
<div class="eat">
    <div class="wrap">
        <div>
             <div class="row">
                <div>
                    <div class="fz90">
                        <div>
                            <p>Ваше кол-во калорий: <b><span id="programCal">{{ control }}</span>ккал</b></p>
                        </div>
                        <div>
                            <span>Кол-во дней:</span>
                            <select class="custom-select2" name="programdays" id="programdays">
                                <option value="1" selected="">1 день</option>
                                <option value="7">7 дней</option>
                                <option value="21">21 дней</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="program-total__price fz90">&nbsp;Цена:
                        <span><span id="programTotal">850</span>₽</span>
                        <span>/день</span>
                    </div>
                    <div>
                        <a href="{% url 'orders' %}">
                            <button type="submit" class="btn">Заказать рацион</button>
                        </a>
                    </div>
                </div>
            </div>
            <div class="eat_flex lightx">
                {% for lightes in prof_light %}
                {% include 'good_food/eat.html' %}
                {% endfor %}
            </div>
            <div class="eat_flex normalx eatnone2">
                {% for lightes in prof_normal %}
                {% include 'good_food/eat.html' %}
                {% endfor %}
            </div>
            <div class="eat_flex strongx eatnone2">
                {% for lightes in prof_strong %}
                {% include 'good_food/eat.html' %}
                {% endfor %}
            </div>
            <div class="eat_flex superstrongx eatnone2">
                {% for lightes in prof_superstrong %}
                {% include 'good_food/eat.html' %}
                {% endfor %}
            </div>
            <div class="eat_flex superx eatnone2">
                {% for lightes in prof_super %}
                {% include 'good_food/eat.html' %}
                {% endfor %}
            </div>
            <p class="text_result">Результат достигается за счет высокого содержания белков,
                оптимального количества полезных жиров и меньшего количества углеводов
                (причем углеводы присутствуют в основном в первой половине дня). Общий
                калораж рассчитывается индивидуально<span id="calorries">.</span></p>
        </div>
    </div>
</div>