{% load static %}
<!-- Header Section -->
  <header class="header">
    <div class="wrap">
      <div class="container">
        <a href="{% url 'projects' %}" class="header__logo">
          <img src="{% static 'images/goodfood.jpg' %}" alt="DevSearch Logo">
        </a>
        <nav class="header__nav">
          <ul class="header__menu">
            <li class="header__menuItem"><a href='#result'>Меню</a></li>
            <li class="header__menuItem"><a href="#calculator_text">Калькулятор</a></li>
            <li class="header__menuItem"><a href="#about_good">О нас</a></li>
            <li class="header__menuItem"><a href="{% url 'project' %}">Отзывы</a></li>
            <li class="header__menuItem"><a href="#bx_719294866_29">Доставка</a></li>
            {% if request.user.is_authenticated %}
            <li class="header__menuItem"><a href="{% url 'logout' %}" class="login">
              <img src="{% static 'images/logout.png' %}" alt="icon">
              <div>Выйти</div></a></li>
            {% else %}
            <li class="header__menuItem"><a href="{% url 'login' %}" class="login">
              <img src="{% static 'images/login.png' %}" alt="icon">
              <div>Войти</div></a></li>
            {% endif %}
          </ul>
        </nav>
      </div>
      {% if messages %}
        {% for message in messages %}
        <div style="text-align: center">
          <div class="alert alert--{{ message.tags }}">
            <p class="alert__message">{{ message }}</p>
            <button class="alert__close">x</button>
          </div>
        </div>
        {% endfor %}
      {% endif %}
    </div>
  </header>
