{% load static %}
<!-- Меню -->
<header class="header">
  <div class="wrap">
    <div class="container">
      <a href="{% url 'projects' %}">
        <img src="{% static 'images/goodfood.jpg' %}" alt="DevSearch Logo">
      </a>
      <nav class="header__nav">
        <ul class="header__menu">
          <li><a href="{% url 'projects' %}#result">Меню</a></li>
          <li><a href="{% url 'projects' %}#programm">Калькулятор</a></li>
          <li><a href="{% url 'projects' %}#about_good">О нас</a></li>
          <li><a href="{% url 'project' %}">Отзывы</a></li>
          <li><a href="{% url 'projects' %}#bx_719294866_29">Доставка</a></li>
            {% if request.user.is_authenticated %}
          <li>
            <a href="{% url 'logout' %}" class="login">
              <img src="{% static 'images/logout.png' %}" alt="icon">
              <div>Выйти</div>
            </a>
          </li>
            {% else %}
          <li>
            <a href="{% url 'login' %}" class="login">
              <img src="{% static 'images/login.png' %}" alt="icon">
              <div>Войти</div>
            </a>
          </li>
            {% endif %}
        </ul>
      </nav>
    </div>
  </div>
</header>
