{% extends 'good_food/base.html' %}
{% load static %}
{% block content %}
  <!-- Main Section -->
<div class="back">
  <div class="wrap">
    <h1 class="heading">Хотите правильно <br>питаться, но <br>некогда готовить?</h1>
    <p class="heading2">Худеете, следите за фигурой или занимаетесь спортом, <br>но совсем нет времени
      на приготовление еды? <br>Оставьте заявку прямо сейчас и получите готовый <br>рацион
      здорового питания на целый день!</p>
    <div class="subbtn">
      <a href="#">
        <button class="btn">Подобрать программу питания</button>
      </a>
    </div>
  </div>
</div>
  <!-- healthy eating -->
<div class="wrap">
  <div class="center">
    <h1 class="type">Здоровое питание от Good Food</h1>
    <div class="boxing">
      {% for profile in profiles %}
      <div class="advant">
        <p class="icon_text"><img class="icon" src="{{ profile.icon_image.url }}"></p>
        <p><b>{{ profile.title }}</b></p>
        <p>{{ profile.description }}</p>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
  <!-- About Us -->
<div class="wrap">
  <h1 class="good" id="about_good">Good Food – это вкусно, модно и разнообразно</h1>
  <div class="about_us">
    <div class="eat_image">
      <img class="about_image" src="{% static 'images/about3.jpg' %}" alt="about us" />
    </div>
    <div class="eat_text">
      <p>Ежедневная доставка еды на дом — это очень удобно.
        Наш курьер привезет питание в выбранном вами двухчасовом
        интервале с 6:00 до 10:00. Вы сами определяете необходимый
        адрес доставки, который можно менять, сообщив об этом за сутки.
        Раз в 2-3 дня вы будете получать недорогую готовую еду в
        контейнерах домой или в офис. Порционное питание от Good Food
        всегда выглядит аккуратно и аппетитно.</p>
      <p><b>Вы можете быть уверенными, что ваша еда будет:</b></p>
      <ul class="list">
        <li>свежей (продукты проходят проверку на этапах получения от
          поставщика, доставки на кухню и после приготовления, а заказ
          готовится в ночь непосредственно перед отправкой к вам);</li>
        <li>вкусной (даже рацион, рассчитанный на маленькую калорийность,
          позволит испытать чувство полного насыщения);</li>
        <li>разнообразной (наше меню постоянно обновляется, готовится по
          рецептам лучших мишленовских ресторанов).</li>
      </ul>
      <p>Хранить пищу рекомендуется в холодильнике в упаковке от Good Food,
        которую можно использовать для разогрева блюда в микроволновой печи.
        Подписка на заказы с доставкой предусматривает возможность заморозить
        определенное количество дней по каждой программе в зависимости от
        продолжительности. Возобновить поставку готовых порций еды можно в любое время.</p>
    </div>
  </div>
</div>
{% include 'good_food/calculator.html' %}
{% include 'good_food/menu.html' %}
{% endblock %}

