<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- Favicon -->
  <link rel="shortcut icon" href="{% static 'images/icons.png' %}" type="image/x-icon" />
  <!-- Icon - font-awesome -->
  <link rel="stylesheet" href="{% static 'styles/app.css' %}" />

  <link rel="stylesheet" href="{% static 'uikit/styles/uikit.css' %}" />

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">


  <title>Правильное питание | Готовая здоровая еда с доставкой на дом</title>
</head>
<body>

{% include 'good_food/navbar_back.html' %}

{% if page == 'register' %}
<div class="login_content">
    <div class="auth">
      <div class="card">
        <div class="auth__header text-center auth__header_1">
          <a href="/">
            <img src="{% static 'images/logo.svg' %}" alt="icon" />
          </a>
          <h3>Зарегистрировать аккаунт</h3>
          <p>Создайте новую учетную запись</p>
        </div>

        <form  action="{% url 'register' %}" method="post" class="form auth__form">
            {% csrf_token %}

            {% for field in form %}
        <!-- Input:Text -->
          <div class="form__field">
            <label for="formInput#text">{{ field.label }}: </label>
            {{ field }}
          </div>
            {% endfor %}


          <div class="auth__actions">
            <input class="btn btn--sub btn--lg" type="submit" value="Войти" />
          </div>
        </form>
        <div class="auth__alternative">
          <p>У вас уже есть аккаунт?</p>
          <a href="{% url 'login' %}">Войти</a>
        </div>
      </div>
    </div>

{% else %}
<div class="auth">
    <div class="card">
        <div class="auth__header text-center">
          <a href="/">
            <img src="{% static 'images/logo.svg' %}" alt="icon" />
          </a>
          <h3>Логин аккаунта</h3>
          <p>Привет, с возвращением!</p>
        </div>

        <form action="{% url 'login' %}" method="post" class="form auth__form">
            {% csrf_token %}
          <!-- Input:Email -->
          <div class="form__field">
            <label for="formInput#text">Ник: </label>
            <input
              class="input input--text"
              id="formInput#text"
              type="text"
              name="username"
              placeholder="Enter your username..."
            />
          </div>

          <!-- Input:Password -->
          <div class="form__field">
            <label for="formInput#password">Пароль: </label>
            <input
              class="input input--password"
              id="formInput#passowrd"
              type="password"
              name="password"
              placeholder="••••••••"
            />
          </div>
          <div class="auth__actions">
            <input class="btn btn--sub btn--lg" type="submit" value="Авторизоваться" />
          </div>
        </form>
        <div class="auth__alternative">
          <p>Нет учетной записи?</p>
          <a href="{% url 'register' %}">Зарегестрироваться</a>
        </div>
      </div>
</div>
</div>
{% endif %}